.loadcontent{
    background-color: white;
    height: 100% ;
    width:100%;
    z-index:2;
    top:0;
    display: flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    animation: 3s hidden;
    line-height:50px;
    position: fixed;
    animation: 3s  hiding;
}
.loading{
    width:50px;
    height:50px;
    display: inline-block;
    vertical-align: middle; 
    position: relative; 
    border-radius: 50px;
    border: 6px solid #9356DC;
    &:after{
        content:"";
        position:absolute;
        top: -6px;
        left:-6px;
        bottom:-6px;
        right:-6px;
        border-radius: 50px;;
        border: 10px solid transparent;
        border-top-color:white ;
        animation:1,2s ease-in-out 3 spin;
    }
} 
@keyframes spin{
    0%{ 
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes hiding{
    from{
        visibility: initial;
    }
    to{
        visibility: hidden;
    }
}
.check{
    width:70px;
    margin-right: -70px;
    opacity:0;
    transition: all 2s;
}
.menu_prix{
        justify-content: space-between;
        line-height: 86px;
        text-align: center;
        line-height: 86px;
}
.menu{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.fa-check-circle{
    transform: rotate(0deg);
    transition: all 1s;
    font-weight: 800;
    color:white;
    font-size: 25px;
    justify-self:center;
}
.menu:hover .check{
    margin-right: 0px;
    height:100%;
    background: #99E2D0;
    opacity:1;
    .fa-check-circle{
        transform: rotate(360deg);
    }
}
.menu{
    div{
        overflow: hidden;
        &:first-child{
            p, h4{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
        }
    }
} 
@keyframes defil{
    from{
        transform:translateY(50px) ;
        opacity: 0;
    }
    to{
        transform:translateY(0px);
        opacity: 1;
    }   
}
.menu{
    animation:defil 2s ease-in-out;
}
.fct:hover{
        background-color: rgba(245,237,255,255);
        i{
        color:#9356DC;
        }
}