body {
    margin: 0px;
    background: whitesmoke;
}
@mixin images{
    height: 300px;
    width: 375px;
    object-fit: cover;

}
header{
    h1{
        text-align: center;
    }
    img{
        @include images; 
    }
}
main{
    article{
        img{
            @include images; 
        }
    }
}
footer{
    background-color: grey;
}