body {
    margin: 0px;
    background: whitesmoke;
    font-family: Robot-Regular;
}
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('Shrikhand-Regular.otf');
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf');
}
@mixin images{
    height: 300px;
    width: 375px;
    object-fit: cover;

}
header{
    h1{
        text-align: center;
    }
    img{
        @include images; 
    }
}
main{
    article{
        img{
            @include images; 
        }
    }
}
footer{
    background-color: grey;
    margin:0px;
}
.menu{
    border:solid px;
    border-radius: 15%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
}