@media screen and (min-width: 1024px)
{
    header{
        display: flex;
        font-family: 'robotoregular';
        font-size: medium;
        background-color: white;
        h3{
            background-color: white;
        }
        .Reservez{
            font-size:20px;
        }
    }
    .restos{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    main ul{
        display:flex;
    }
    .list{
        display: flex;
    }
    .fct{
        margin:50px;
    }
    footer{
        display: flex;
        ul{
            display: flex;
            li{
                margin-right:30px;
            }
         }
    }
}
@media screen and (min-width: 700px) and (max-width :1000px){
    .restos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}