.log{
    background-color: white;;
}
header{
    .fa-arrow-left{
            padding-top: 2em;
        }
    h1{
        margin: 0px;
        padding-top:1em;
    }
    h3{
        margin: 0px;
        padding:1em;
    }
    .fa-map-marker-alt{
        margin-right: 1em;;
    }
    .Reservez{
        text-align: center;
        font-weight: 800;
        font-size: 25px;
        padding-left: 1em;
        padding-right: 1em;
    }
    .Decouvrez{
        text-align: center;
        font-size: large;
    }
    .btn{
        margin-top:1em;
        margin-bottom: 2em;

    }
    .numero{
        border-radius: 100%;
        background-color: #9356DC;
    }
}
.Fonctionnement{
    background-color: white;
    padding:2em;
    .list{
        margin: 1em;
    }
    .fct{
        color:black;
        display: flex;
        flex-direction: row;
        background-color: #f6f6f6;
        padding-bottom: 1em;
        margin-bottom: 2em;
        margin-top: 1em;
        padding-top: 1em;
        border-radius: 15px;
        box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.2);
        position: relative;
            .numéro{
                position: absolute;
                left: -20px;
                background-color: #9356DC;
                border-radius: 100%;
                padding: 4px;
                width: 20px;
                text-align: center;
                color:white;
            }
            i{
                padding-left: 1em;
                margin-right: 1em;
                color: grey;
            }
            .fa-store{
                color:#9356DC;
            }
    }
}
.nv{
    position:absolute;
    top: 20px;
    right: 20px;
    background-color: #99e2d0;
    font-size: medium;
    padding: 5px;
    border-radius: 3px;
    color: #008766;
}
.menu{
    h5{
        font-weight: normal;
    }
    h6{
        font-weight: bold;
    }
    margin: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    .menu_prix{
        display: flex;
    }
    .price{
        justify-content: flex-end;
    }
    a{
        color: black;
    }
    a:link 
    { 
        text-decoration:none; 
    } 
    h3{
        padding-left: 1em;
    }
    h4{
        padding-left: 1em;
    }
    p{
        padding-left: 1em;
        margin: 0px;
    }
}
.resto {
    h3{
        margin:5px;
    }
    p{
        margin:5px;
        color: black;
    }
    a{
    text-decoration: none;
    }
}
.nom_resto{
    display: flex;
    justify-content:space-between;
}
.fa-heart{
    right:20px;
    font-size: 40px;
    margin-left:20px;
    font-weight: 400;
    font-size:20px;
    padding-top:1em;
    padding-right: 1em;
    transition: all 1s;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
        font-weight: 600;
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

